*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family:Verdana, Tahoma, sans-serif;
    font-size: 1.6rem;
}

.header{
    border: 1px solid black;
    height: 7rem;
    background-color: chocolate;
    display: flex;
    flex-direction:row;
    justify-content:space-between ;
    align-items: center;
}

.list{
    display: flex;
    list-style: none;
}

.nav a{
    font-size: 2rem;
    color:white;
    padding: 0.5rem;
    flex-direction: row;
    text-decoration: none;
}
.nav a:hover{
    color:skyblue;
}

.nav a:active{
    color: yellow;
}

.container-img{
    display: flex;
}

.img{
    height: 7rem;
    width: 10rem;
}

.title{
    font-size: 3.2vh;
    padding:1rem;
    font-weight: bolder;
    color: white;
    align-self: center;
}

.main{
    display: flex;
    flex-shrink: initial;
}

.main-bar{
    border-right: 1.2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 79vh;
    width: 45vh;
    background-image: url(./img/images.jpg);
}

.elements{
    display: flex;
    justify-content: center;
    flex-grow: 0.12;
    margin:10px;
    align-items: center;
    border: 2px solid black;
}

.element1{
    font-weight: bolder;
    border-radius: 1rem;
    height: 5rem ;
    background-color: #F0CB3A;
}

.element2{
    font-weight: bolder;
    border-radius: 1rem;
    height: 5rem ;
    background-color: #F0CB3A;
}

.element3{
    font-weight: bolder;
    border-radius: 1rem;
    height: 5rem ;
    background-color:#F0CB3A
}

.element4{
    font-weight: bolder;
    border-radius: 1rem;
    height: 5rem ;
    background-color:#F0CB3A;
}

.container{
    background-image:url(./img/background.jpg);
    background-size: cover;
    display: flex;
    background-color:darkkhaki;
    flex-grow: 1;
}

.main-container{
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    padding-top: 10%;
    align-items: flex-end;
    margin-right: 5vh;
}

.container-title{
    margin:5px 100px
}

.container-p{
    max-width: 40%;
}
.cont{
    display: flex;
}

.p{
    text-align: justify;
}

.main-title{
    font-size: 30px;
    padding:1rem;
    font-weight: bolder;
    color: white;
    align-self: center;

}

.container-p{
    color: white;
}

.container-title{

}


.footer-container{
    width: 100%;
    display: flex;
    color:white;
    background-color: #1c3643;
    flex-wrap: wrap;
    align-items: center;
    height: 15vh;
    justify-content: space-around;

}

.footer-G{
    font-weight: bolder;
}

.footer-platzi{
    display: flex;
    flex-direction: row;
    justify-content: center ;
}

.container-platzi{
    padding-left: 5px;
}

.logo-platzi{
    height: 2.4rem;
    width: 2.4rem;

}

.list-icons{
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
}

.container-icons{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.icons{
    justify-content: space-around;
    text-decoration: none;
    padding: 5px;
    padding-right: 10px;
}
    
.github{
    height: 2rem;
    width: 2rem;
}

.inst{
    height: 2rem;
    width: 2rem;
}

.twitter{
    height: 2rem;
    width: 2rem;
}
